* {
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	box-sizing: border-box;
}


.box {
	border: 10px solid floralwhite; 
	margin-top: 45px; 
	margin-left: 455px; 
	margin-right: 455px;
	padding: 25px;
	background-color: floralwhite;
	border-radius: 25px; 
}

.my-button {width: 150px; height: 50px; display: block; margin: 0 auto;
}

.img {
  display: block;
  margin: auto;
  width: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

